{% extends "base.html" %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
<a href="{% url profile_edit profile_id=profile.id %}">Edit</a>
<table>
	<tr>
		<td>Personal data</td><td colspan="2">Contacts</td>
	</tr>
	<tr>
		<td>{{ profile.name }}</td><td>Email:</td><td>{{ profile.email }}</td>
	</tr>
	<tr>
		<td>{{ profile.surname }}</td><td>Jabber:</td><td>{{ profile.jabber }}</td>
	</tr>
	<tr>
		<td>{{ profile.birth_date }}</td><td>Skype:</td><td>{{ profile.skype }}</td>
	</tr>
	<tr>
		<td>Photo:</td><td colspan="2">Bio:</td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="{% if profile.photo %}{{ profile.photo.url }}{% endif %}" width="230" height="320" />
		</td>
		<td colspan="2" valign="top">{{ profile.bio }}</td>
	</tr>
	<tr>
		<td colspan="2">Other contacts:</td>
	</tr>
	<tr>
		<td colspan="2" valign="top">{{ profile.other }}</td>
	</tr>
	
</table>
<hr/>

<a href="{% url request_log %}">requests</a>
{% endblock %}