{% extends "base.html" %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>

{% if form.errors %}
	{{ form.errors }}
{% endif %}

<form method="post" action="{% url profile_edit profile_id=form.initial.id %}" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		<tr>
			<td colspan="2">Personal data</td><td colspan="2">Contacts</td>
		</tr>
		<tr>
			<td>Name:</td><td>{{ form.name }}</td><td>Email:</td><td>{{ form.email }}</td>
		</tr>
		<tr>
			<td>Last name:</td><td>{{ form.surname }}</td><td>Jabber:</td><td>{{ form.jabber }}</td>
		</tr>
		<tr>
			<td>Date of birth:</td><td>{{ form.birth_date }}</td><td>Skype:</td><td>{{ form.skype }}</td>
		</tr>
		<tr>
			<td colspan="2">Bio:</td><td colspan="2">Other contacts:</td>
		</tr>
		<tr>
			<td colspan="2">{{ form.bio }}</td><td colspan="2">{{ form.other }}</td>
		</tr>
		
	</table>
	<input type="submit" value="Submit" /> <a href="/">Cancel</a>
</form>
<hr/>
{% endblock %}