<html>
	<head>
		<title>42 Coffee Cups Test Assignment</title>
	</head>
	<body>
		<h1>42 Coffee Cups Test Assignment</h1>
		<table>
			<tr>
				<td>Personal data</td><td colspan="2">Contacts</td>
			</tr>
			<tr>
				<td>{{ pofile.name }}</td><td>Email:</td><td>{{ pofile.email }}</td>
			</tr>
			<tr>
				<td>{{ pofile.surname }}</td><td>Jabber:</td><td>{{ pofile.jabber }}</td>
			</tr>
			<tr>
				<td>{{ pofile.birth_date }}</td><td>Skype:</td><td>{{ pofile.skype }}</td>
			</tr>
			<tr>
				<td>Bio:</td><td colspan="2">Other contacts:</td>
			</tr
			<tr>
				<td>{{ pofile.bio }}</td><td colspan="2">{{ pofile.other }}</td>
			</tr>
		</table>
	</body>
</html>