{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<table>
	<tr>
		<td>DateTime</td><td>Method</td><td>Url</td><td>Order</td><td>*</td>
	</tr>
	{% for r in request_logs %}
	<tr id="request_log_{{ r.id }}">
		<td>{{ r.datetime|date:'Y-m-d H:i' }}</td><td>{{ r.method }}</td>
		<td>{{ r.url }}</td><td>{{ r.order }}</td>
		<td>
			<a href="{% url request_log_delete %}" class="js_delete" entry="{{ r.id }}">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>

<hr />

<a href="{% url profile%}">profile</a>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/requests.js"></script>
{% endblock %}
